* {
    font-family: Helvetica; 
}

html {
    background: rgb(14, 20, 12);
}

body {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100vw; 
    height: 100vh;
}

.calculator {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; ; 
    width: 300px; 
    height: 500px; 
    padding-top: 50px; 
    outline: rgb(237, 255, 174) solid; 
    background: rgb(106, 148, 106);
    border-radius: 3px; 
}

.display {
    display: flex; 
    flex: 1 0 auto; 
    outline: solid 1px;  
    justify-content: right;
    width: 250px; 
    align-items: center; 
    font-size: 45px;
    margin-bottom: -10px; 
    background: rgb(220, 248, 193); 
    color: rgb(26, 100, 16); 
    border-radius: 3px;
}

.board {
    display: flex; 
    flex: 1 0 auto; 
    width: 250px; 
    min-height: 400px; 
    justify-content: center;
    align-items: center;
    gap: 3px; 
}

.lColumn, .rColumn {
    display: flex;
    flex-direction: column-reverse;
    gap: 3px; 
}

.lColumn {
    width: 187px;
}

.rColumn {
    width: 62px; 
}

.row0, .row1, .row2, .row3, .row4 {
    display: flex; 
    gap: 3px;
    flex: 1 0 auto;
}

button {
    font-size: 30px; 
    flex: 1; 
    color: rgb(51, 61, 37); 
    background-color: rgb(201, 248, 170);
    border: white 1px solid; 
    border-radius: 6px; 
}

.symbol {
    background: rgb(157, 255, 157); 
    color: rgb(72, 129, 75);
}

.solve {
    background: rgb(182, 255, 122);
    color: rgb(101, 189, 0); 
}

#key0 {
    flex: 2.1 0 auto; 
    text-align: left;
    padding-left: 020px; 
}

#key\. {
    flex: 1 0 auto; 
}